.table {
	.table-cell {
		text-align: center;
		max-width: 18rem;
		min-width: 5rem;

		.cell-wrapper {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;

			.image {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				margin-right: 10px;
				object-fit: cover;
			}

			p {
				text-align: left;
			}
		}

		.status {
			padding: 5px;
			border-radius: 5px;

			&.APPROVED {
				color: green;
				background-color: rgba(0, 128, 0, 0.151);
				font-size: 12px;
			}
			&.PENDING {
				color: goldenrod;
				background-color: rgba(189, 189, 3, 0.103);
			}
			&.CANCELLED {
				color: crimson;
				background-color: rgba(220, 20, 60, 0.142);
				font-size: 12px;
			}
		}
	}
}

.no-transaction {
	color: rgb(68, 65, 65);
	font-size: 18px;
}
