.navbar {
	height: 50px;
	border-bottom: 0.5px solid rgb(228, 228, 228);
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #555;

	.wrapper {
		width: 100%;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.search {
		display: flex;
		align-items: center;
		border: 0.5px solid lightgray;
		padding: 3px;

		input {
			border: none;
			outline: none;
			background-color: transparent;

			&::placeholder {
				font-size: 12px;
			}
		}
	}

	.items {
		list-style: none;
		padding: 0;
		display: flex;
		align-items: center;
		gap: 10px;

		.item {
			display: flex;
			align-items: center;
			position: relative;

			.icon {
				cursor: pointer;
				font-size: 20px;
				padding: 5px;

				&:hover {
					background-color: lightgray;
					border-radius: 50%;
				}
			}

			.avatar {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				cursor: pointer;
			}

			.counter {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				color: white;
				background-color: red;
				display: grid;
				place-items: center;
				font-size: 10px;
				font-weight: bold;
				position: absolute;
				top: -5px;
				right: -5px;
			}
		}
	}
}
